<div class="navigation-card">


    {{ with .Params.teaser.external_url }}
    <a class="navigation-card__content navigation-card__content--neutral navigation-card--external" href="{{.}}">
    {{ else }}
    <a class="navigation-card__content navigation-card__content--neutral" href="{{.RelPermalink}}">

    {{ end }}
        <h3 class="navigation-card__title navigation-card__title--small">
            {{.Title}}
        </h3>
        <p class="navigation-card__desc navigation-card__desc--small">
            {{.Params.teaser.text}}
        </p>
    </a>
</div>