<div class="navigation-card">
    <a class="navigation-card__content navigation-card__content--secondary"
        href="{{.RelPermalink}}">
        <div class="navigation-card__img-container navigation-card__img-container--small">
            {{ $icon := resources.GetMatch .Params.navigation_link.icon }}
            {{ $icon_resize := $icon.Resize "65x64 Lanczos" }}
            <img src="{{$icon_resize.RelPermalink}}" height="{{$icon_resize.Height}}"
                width="{{$icon_resize.Width}}" alt="{{.Params.navigation_link.alt}}"
                loading="lazy" />
        </div>
        <h3 class="navigation-card__title navigation-card__title--small">
            {{.Title}}
        </h3>
        <p class="navigation-card__desc navigation-card__desc--small">
            {{.Params.navigation_link.text}}
        </p>
    </a>
</div>