{{ define "main" }}

<div class="page__home">

    <div class="component component__figure-2 component__figure--right component__figure--big">
        {{ partial "components/figures" . }}
        <div class="container">
            {{ with .Site.GetPage "/" }}
            <div class="row text-center">
                <div class="divider">
                    <div class="divider__title">
                        <h2 style="font-size: 36px!important;">{{.Title}}</h2>
                        <div class="line line--secondary"></div>
                        <p class="ingress" style="max-width:750px;margin:auto;">{{.Params.ingress}}</p>
                        <br><br>
                    </div>
                </div>
            </div>
            {{ end }}

            <div class="row gy-3">

                {{ with .Site.GetPage "/kom-i-gang/"}}
                <div class="col-lg-4">
                    {{ .Render "secondary-card" }}
                </div>
                {{ end }}

                {{ with .Site.GetPage "/kom-i-gang/minid-paa-mobil" }}
                <div class="col-lg-4">
                    {{ .Render "secondary-card" }}
                </div>
                {{ end }}

                {{ with .Site.GetPage "/hjelp" }}
                <div class="col-lg-4">
                    {{ .Render "secondary-card" }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="component">
        <div class="container">
            {{ $usefull_title := (i18n "usefull") }}
            {{ partial "components/component-title.html" (dict "context" . "title" $usefull_title) }}

            <div class="row gy-4">
                {{ with .Site.GetPage "/veiledning-for-ungdomsskolen" }}
                <div class="col-lg-6">
                    {{ .Render "neutral-card" }}
                </div>
                {{ end }}

                {{ with .Site.GetPage "/informasjon-om-minid-og-annen-eid" }}
                <div class="col-lg-6">
                    {{ .Render "neutral-card" }}
                </div>
                {{ end }}

                {{ with .Site.GetPage "/hva-er-en-elektronisk-identitet" }}
                <div class="col-lg-6">
                    {{ .Render "neutral-card" }}
                </div>
                {{ end }}

                {{ with .Site.GetPage "/fem-grunner-til-a-bruke-minid" }}
                <div class="col-lg-6">
                    {{ .Render "neutral-card" }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    {{ with .Site.GetPage "/" }}
    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="content__container">
                        <h2 class="mt-0">{{.Params.contribute.title}}</h2>
                        <p>{{.Params.contribute.text | markdownify}}</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-md-center justify-content-lg-end">
                    {{ partial "components/image.html" (dict "context" . "image" .Params.contribute.image) }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

</div>
{{ end }}