{{ define "main" }}

<div class="page__home">

    {{ with .Site.GetPage "/" }}
    <div class="component" style="background-color:#a5d6fb;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h1 class="">{{.Title}}</h1>
                    <p class="ingress mb-5 mb-lg-0">{{.Params.ingress}}
                    </p>
                </div>
                <div class="col-lg-6  d-flex justify-content-md-center justify-content-lg-end">
                    <div style="margin-bottom: -48px!important;">
                        {{ partial "components/image.html" (dict "context" . "image" .Params.banner.image) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="component">
        <div class="container">

            {{ partial "components/component-title.html" (dict "context" . "title" .Title) }}

            <div class="row gy-3">

                {{ with .Site.GetPage "/kom-i-gang/registrer-deg"}}
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__content navigation-card__content--small" href="{{.RelPermalink}}">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="{{.Site.BaseURL}}{{.Params.navigation_link.icon}}"
                                    alt="{{.Params.navigation_link.alt}}" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.navigation_link.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}

                {{ with .Site.GetPage "/kom-i-gang/minid-paa-mobil" }}
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__content navigation-card__content--small" href="{{.RelPermalink}}">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="{{.Site.BaseURL}}{{.Params.navigation_link.icon}}"
                                    alt="{{.Params.navigation_link.alt}}" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.navigation_link.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}

                {{ with .Site.GetPage "/hjelp" }}
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__content navigation-card__content--small" href="{{.RelPermalink}}">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="{{.Site.BaseURL}}{{.Params.navigation_link.icon}}"
                                    alt="{{.Params.navigation_link.alt}}" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.navigation_link.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>



    <div class="component">
        <div class="container">
            {{ $usefull_title := (i18n "usefull") }}
            {{ partial "components/component-title.html" (dict "context" . "title" $usefull_title) }}

            <div class="row">

                {{ with .Site.GetPage "/hva-er-en-elektronisk-identitet" }}
                <div class="col-lg-6">
                    <div class="navigation-card">
                        <a class="navigation-card__content navigation-card__content--neutral" href="{{.RelPermalink}}">
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.teaser.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}

                {{ with .Site.GetPage "/fire-grunner-til-a-bruke-minid" }}
                <div class="col-lg-6">
                    <div class="navigation-card">
                        <a class="navigation-card__content navigation-card__content--neutral" href="{{.RelPermalink}}">
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.teaser.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}
                
            </div>
        </div>
    </div>

    {{ with .Site.GetPage "/" }}
    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="content__container">
                        <h2 class="mt-0">{{.Params.contribute.title}}</h2>
                        <p>{{.Params.contribute.text | markdownify}}</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-md-center justify-content-lg-end">
                    {{ partial "components/image.html" (dict "context" . "image" .Params.contribute.image) }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

</div>
{{ end }}